{{>header}}

<body>
    <main class="login-page pt-5 ">
        <div class="container">
            <div class="row">
                <h1>404</h1>
                <a href="/">Go back to home</a>
            </div>
            <div class="container mt-5 text-danger">
                <h3>
                    {{err}}
                </h3>
            </div>
        </div>
    </main>
    {{>footer}}