{{>header}}

<body>
    <main class="dashboard">
        <!-- hero section -->
        <section class="hero-section">
            <div class="container  position-relative d-flex flex-column justify-content-center">
                <div class="text-white">
                    <h1>Welcome to RE Instruct</h1>
                    <h1>Course Dashboard</h1>
                </div>
            </div>
        </section>
        <!-- main section -->
        <section class="mt-4">
            <div class="container">
                <div class="row">
                    <!-- left side -->
                    <div class="col-lg-2 mt-3 d-flex flex-md-column justify-content-between justify-content-md-start">
                        <p class="text-uppercase mb-md-5">Babar army</p>
                        <p class="pt-md-5"><a href="#" class="link-primary">Encyclopedia</a></p>
                    </div>
                    <!-- right side -->
                    <div class="col-lg-10 bg-white py-3">
                        <div>
                            <ul class="nav nav-tabs fs-22" id="myTab" role="tablist">
                                <li class="nav-item " role="presentation">
                                    <button class="nav-link active rounded-0" id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#home-tab-pane" type="button" role="tab"
                                        aria-controls="home-tab-pane" aria-selected="true">Purchased Courses</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link rounded-0" id="completed-tab" data-bs-toggle="tab"
                                        data-bs-target="#completed-tab-pane" type="button" role="tab"
                                        aria-controls="completed-tab-pane" aria-selected="false">Completed
                                        Courses</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                                    aria-labelledby="home-tab" tabindex="0">
                                    <div class="table-container">
                                        <table class="table">
                                            <thead class="text-white fs-18">
                                                <tr class="table-primary text-white">
                                                    <th style="width: 300px;">Course</th>
                                                    <th>Starting Date</th>
                                                    <th>Final Exam</th>
                                                    <th>Passing Grade</th>
                                                    <th>Score</th>
                                                    <th>Progress</th>
                                                </tr>
                                            </thead>
                                            <tbody class="fs-16">
                                                <tr>
                                                    <td>Principles</td>
                                                    <td>---</td>
                                                    <td>---</td>
                                                    <td>60%</td>
                                                    <td>---</td>
                                                    <td>
                                                        <button class="btn btn-primary px-3 py-3 border-0">Begin
                                                            Course</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Practice</td>
                                                    <td>---</td>
                                                    <td>---</td>
                                                    <td>60%</td>
                                                    <td>---</td>
                                                    <td>
                                                        <button class="btn btn-primary px-3 py-3 border-0">Begin
                                                            Course</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Legal</td>
                                                    <td>---</td>
                                                    <td>---</td>
                                                    <td>60%</td>
                                                    <td>---</td>
                                                    <td>
                                                        <button class="btn btn-primary px-3 py-3 border-0">Begin
                                                            Course</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Salepersons Crash Course</td>
                                                    <td>---</td>
                                                    <td>---</td>
                                                    <td>---</td>
                                                    <td>---</td>
                                                    <td>
                                                        <button class="btn btn-primary px-3 py-3 border-0">Begin
                                                            Course</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="completed-tab-pane" role="tabpanel"
                                    aria-labelledby="completed-tab" tabindex="0">

                                    <div class="table-container">
                                        <table class="table">
                                            <thead class="text-white fs-18">
                                                <tr class="table-primary text-white">
                                                    <th style="width: 400px;">Course</th>
                                                    <th>Date</th>
                                                    <th>Passing Grade</th>
                                                    <th>Progress</th>
                                                </tr>
                                            </thead>
                                            <tbody class="fs-16">
                                                <tr>
                                                    <td>Saleperson Crash Course</td>
                                                    <td>August 10,2022</td>
                                                    <td>80%</td>
                                                    <td>0% <span class="badge ms-2 text-bg-danger">Failed</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {{>footer}}