{{>header}}

<body>
    <main class="login-page py-5">
        <div class="container">
            
                    <div class="card">
                        <h2 class="fw-bold text-center">Get Free Access Lesson</h2>
                        <!-- <p class="m-0 mb-3">Already Registered?</p> -->
                        <p class="m-0 text-center mb-5"><i class="fa-regular fa-circle-question"></i>   Do you want to try a free real estate course?</p>
                        {{#if error}}
                        <p class="fs-16 text-danger text-center">{{error}}</p>
                        {{/if}}
                        <div class="px-3 my-3">
                            <form action="/freeCourse-register" method="post" id="login-form">
                            <div class="row justify-content-center">
                                <div class="col-12 col-xxl-4 col-xl-4 col-lg-4 col-md-4 login mx-2">
                                    <label for="first-name" class="form-label">First Name</label>
                                <input type="text" class="form-control shadow-none mb-4" required name="firstName"
                                    placeholder="">
                                </div>
                                <div class="col-12 col-xxl-4 col-xl-4 col-lg-4 col-md-4 login mx-2">
                                    <label for="last-name" class="form-label">Last Name</label>
                                <input type="text" class="form-control shadow-none mb-4" required name="lastName"
                                    placeholder="">
                                </div>
                                <div class="col-12 col-xxl-4 col-xl-4 col-lg-4 col-md-4 login mx-2">
                                    <label for="eamil" class="form-label">Email</label>
                                <input type="text" class="form-control shadow-none mb-4" required name="email"
                                    placeholder="">
                                </div>
                                <div class="col-12 col-xxl-4 col-xl-4 col-lg-4 col-md-4 login mx-2">
                                    <label for="select" class="form-label">Lesson Type</label>
                                 <select id="Select" class="form-select" style="box-shadow: none;">
                                    <option value="Priciple Preview">Priciple Preview</option>
                                    <option value="Practice Preview">Practice Preview</option>
                                    <option value="Legal Preview">Legal Preview</option>
                                </select>
                                </div>
                                 <div class="col-12 col-xxl-4 col-xl-4 col-lg-4 col-md-4 login mx-2">
                                    <label for="eamil" class="form-label">Password</label>
                                <input type="password" class="form-control shadow-none mb-4" required name="password"
                                    placeholder="">
                                </div>
                                 <div class="col-12 col-xxl-4 col-xl-4 col-lg-4 col-md-4 login mx-2">
                                    <label for="eamil" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control shadow-none mb-4" required name="cPassword"
                                    placeholder="">
                                </div>
                                </div>
                                 <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                                <div class="d-flex justify-content-center"><button type="submit"
                                    class="btn btn-primary border-0 px-3 rounded-2 fw-semibold fs-5 mt-4">Register</button></div>
                            </form>
                        </div>
                    </div>
                
            
        </div>
    </main>

        <script src="https://www.google.com/recaptcha/api.js?render={{reCaptchaSiteKey}}"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('{{reCaptchaSiteKey}}', { action: 'login' }).then(function (token) {
                document.getElementById('g-recaptcha-response').value = token;
            });
        });
    </script>
    {{>footer}}