{{>header}}

<body>
    <main class="login-page pt-5 ">
        <div class="container">
            <div class="row">
                <!-- login -->
                <div class="col-xxl-4 col-lg-5 text-center login mx-auto">
                    <div class="card">
                        <div class="bg-primary w-100 login-image-div">
                            <img src="./images/login/login-icon.png" class="img-fluid" alt="">
                        </div>
                        <h2 class="fw-bold">Login</h2>
                        <!-- <p class="m-0 mb-3">Already Registered?</p> -->
                        <p class="m-0 mb-3">Login here with your Email and Password</p>
                        {{#if error}}
                        <p class="fs-16 text-danger">{{error}}</p>
                        {{/if}}
                        <div class="px-3 mb-3">
                            <form action="/login" method="post" id="login-form">
                                <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                                <input type="email" class="form-control shadow-none mb-3" required name="email"
                                    placeholder="Email">
                                <input type="password" required class="form-control shadow-none mb-3" name="password"
                                    placeholder="Password">
                                <div class="form-check d-flex">
                                    <input class="form-check-input me-2" type="checkbox" value="yes" name="remember"
                                        id="remember-me">
                                    <label class="form-check-label user-select-none" for="remember-me">
                                        Remember Me
                                    </label>
                                </div>
                                <button type="submit"
                                    class="btn btn-primary border-0 px-3 rounded-2 fw-semibold fs-5 mt-3">Login</button>
                            </form>
                        </div>
                        <span>
                            <a href="/reset-password" class="link-primary">Forgot Password?</a>
                            <p class="fs-16">Not a member? <a href="/packages" class="link-primary">Create account.</a>
                            </p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{!--for form validaitons --}}
    <script src="./js/form-validations.js"></script>
    {{>footer}}
    <script src="https://www.google.com/recaptcha/api.js?render={{reCaptchaSiteKey}}"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('{{reCaptchaSiteKey}}', { action: 'login' }).then(function (token) {
                document.getElementById('g-recaptcha-response').value = token;
            });
        });
    </script>