{{>header}}

<body>
    <div class="container">
        <p>Test page for package</p>
        {{#if msg.text}}
        <div class="alert {{#ifEquals msg.type " success"}} alert-success {{else}} alert-danger {{/ifEquals}}
            alert-dismissible fade show w-50" role="alert">
            {{{msg.text}}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
        <a href="/checkout?package=636b5e1e1d884c047bddcfbc" class="btn btn-success">Basic ($1199)</a>
        <a href="/checkout?package=636b7ddbd2dccf7bc0b180de" class="btn btn-info">Silver ($1299)</a>
    </div>
    {{>footer}}