{{#if toast}}
<div aria-live="polite" aria-atomic="true"
    style="position: absolute; top: 70px; right: 1%; min-height: 200px; z-index:1">
    <div class="toast align-items-center {{#ifEquals toast.type "success"}} bg-success {{else}} bg-danger {{/ifEquals}}
        border-0" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="d-flex">
            <div class="toast-body">
                {{toast.text}}
            </div>
            <button type="button" class="mx-2 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
        </div>
    </div>
</div>
{{/if}}