<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/dashboard" class="brand-link">
    <img src="/dashboard/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">{{site_Title}}</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="https://ui-avatars.com/api/?name={{user.name}}&rounded=true" class="img-circle elevation-2"
          alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{user.name}}</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <!-- dashboard -->
        <li class="nav-item">
          <a href="/dashboard" id='dashboard-link' class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        {{#ifEquals user.role "student"}}
        <li class="nav-item">
          <a href="/dashboard/contact-us" id="contact-us-link" class="nav-link">
            {{!-- <i class="far fa-circle nav-icon"></i> --}}
            <i class="fa-solid fa-id-card-clip nav-icon"></i>
            <p>Contact us</p>
          </a>
        </li>
        {{/ifEquals}}
        {{#ifEquals user.role "admin"}}
        <!-- Package -->
        <li class="nav-item">
          <a href="#" id="package-link" class="nav-link">
            <i class="nav-icon fas fa-money-check-alt"></i>
            <p>
              Packages
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/dashboard/add-package" id="package-add-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Package</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/package-detail" id="package-detail-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Package Detail</p>
              </a>
            </li>
          </ul>
        </li>
        {{!-- courses --}}
        <li class="nav-item">
          <a href="#" id="course-link" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Courses
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/dashboard/add-course" id="course-add-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Course</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/course-detail" id="course-detail-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Courses Detail</p>
              </a>
            </li>
          </ul>
        </li>
        {{!-- Chapters --}}
        <li class="nav-item">
          <a href="#" id="chapter-link" class="nav-link">
            <i class="nav-icon fas fa-pen"></i>
            <p>
              Chapters
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/dashboard/add-chapter" id="chapter-add-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Chapter</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/chapter-detail" id="chapter-detail-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Chapters Detail</p>
              </a>
            </li>
          </ul>
        </li>
        {{!-- Quiz --}}
        <li class="nav-item">
          <a href="#" id="quiz-link" class="nav-link">
            <i class="nav-icon fas fa-broom-ball"></i>
            <p>
              Quizzes
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/dashboard/add-quiz" id="quiz-add-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Quiz</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/quiz-detail" id="quiz-detail-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quizzes Detail</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" id="voucher-link" class="nav-link">
            <i class="nav-icon fas fa-gift"></i>
            <p>
              Coupons
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/dashboard/add-coupon" id="voucher-add-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Coupon</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/coupon-detail" id="voucher-detail-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Coupons Detail</p>
              </a>
            </li>
          </ul>
        </li>
         <li class="nav-item">
          <a href="/dashboard/order" id="order-link" class="nav-link">
            {{!-- <i class="far fa-circle nav-icon"></i> --}}
            <i class="fa-sharp fa-solid fa-sort nav-icon"></i>
            <p>Order</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/dashboard/users" id="contact-link" class="nav-link">
            {{!-- <i class="far fa-circle nav-icon"></i> --}}
            <i class="fa-solid fa-users nav-icon"></i>
            <p>Users</p>
          </a>
        </li>
        {{/ifEquals}}
        <!-- Search -->
        {{!-- <li class="nav-item">
          <a href="/dashboard/search" id="search-link" class="nav-link">
            <i class="nav-icon fas fa-search"></i>
            <p>
              Search
            </p>
          </a>
        </li> --}}
        <!--Logout -->
        <li class="nav-item">
          <a href="/logout" id="logout" class="nav-link bg-danger">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>
              Logout
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>