/* 

green red green red green red green red  green red ---- Quiz pages ----- green red green red green red green red

*/

.quiz .options {
    width: 60%;
}

.quiz .options input[type=text] {
    width: 90%;
}

.quiz input.checkBox {
    height: 18px;
    /* transform: translate(0, 50%); */
    width: 18px;
}

.cross {
    font-size: 22px;
    color: red;
    font-weight: bold;
    line-height: 24px;
}

.event-none {
    pointer-events: none;
    background-color: rgba(0, 0, 0, .05);
}

.opacity-25 {
    opacity: .25;
}

.place-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#tblLocations tr{
    cursor: move;
}