<li class="nav-item">
    <a href="#" id="category" class="nav-link">
        <i class="nav-icon fa-solid fa-table-cells-large"></i>
        <p>
            Category
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/dashboard/salesperson/add-category" id="category-add" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Category</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/dashboard/salesperson/all-categories" id="category-detail" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Categories</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" id="quiz-link" class="nav-link">
        <i class="nav-icon fas fa fa-clipboard"></i>
        <p>
            Test
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/dashboard/salesperson/add-test" id="quiz-add-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Test</p>
            </a>
        </li>
        {{!-- <li class="nav-item">
            <a href="/dashboard/salesperson/add-test-by-select" id="quiz-add-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add By Select</p>
            </a>
        </li> --}}
        <li class="nav-item">
            <a href="/dashboard/salesperson/all-tests" id="quiz-detail-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Tests</p>
            </a>
        </li>
    </ul>
</li>
{{!-- <li class="nav-item">
    <a href="#" id="exam-link" class="nav-link">
        <i class="nav-icon fas fa fa-clipboard"></i>
        <p>
            Exam
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/dashboard/salesperson/add-exam" id="exam-add-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Exam</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/dashboard/salesperson/all-exams" id="exam-detail-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Exam</p>
            </a>
        </li>
    </ul>
</li> --}}
<li class="nav-item">
    <a href="#" id="question-link" class="nav-link">
        <i class="nav-icon fas fa-question-circle"></i>
        <p>
            Questions
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/dashboard/salesperson/add-questions" id="question-add-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Questions</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/dashboard/salesperson/all-questions" id="question-all-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Questions</p>
            </a>
        </li>
    </ul>
</li>