<li class="nav-item">
    <a href="#" id="category" class="nav-link">
        <i class="nav-icon fa-solid fa-table-cells-large"></i>
        <p>
            Category
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/dashboard/salesperson/add-category" id="category-add" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Category</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/dashboard/salesperson/all-categories" id="category-detail" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Categoreis</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" id="quiz-link" class="nav-link">
        <i class="nav-icon fas fa-broom-ball"></i>
        <p>
            Quizzes
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/dashboard/salesperson/add-quiz" id="quiz-add-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Quiz</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/dashboard/salesperson/all-quizzes" id="quiz-detail-link" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Quizzes</p>
            </a>
        </li>
    </ul>
</li>