<li class="nav-item">
    <a href="#" id="quiz" class="nav-link">
        <i class="nav-icon fas fa-broom-ball"></i>
        <p>
            Quiz
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/dashboard/salesperson/test-by-category" id="quiz-category" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quiz By Category</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/dashboard/salesperson/result-by-category" id="quiz-result" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Quiz Result</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" id="tests" class="nav-link">
        <i class="nav-icon fa fa-clipboard"></i>
        <p>
            Tests
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/dashboard/salesperson/tests" id="tests-all" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Tests</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/dashboard/salesperson/tests-result" id="tests-result" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tests Result</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" id="exam" class="nav-link">
        <i class="nav-icon fa fa-graduation-cap"></i>
        <p>
            Exam
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/dashboard/salesperson/exam" id="exam-replica" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>State Exam Replica</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/dashboard/salesperson/exam-result" id="exam-result" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>State Exam Result</p>
            </a>
        </li>
    </ul>
</li>