{{>dashboardheader}}

<!--
`body` tag options:

  Apply one or more of the following classes to to the body tag
  to get the desired effect

  * sidebar-collapse
  * sidebar-mini
-->

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        {{>dashboardNavbar}}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {{>dashboardMainSidebar}}

        <!-- toast(alert)-->
        {{>alert}}
        <!-- /toast(alert)-->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content pt-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Chapter: {{chapter.name}}</h3>
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="w-100" style="height: calc(100vh - 278px);">
                                            <object data='/{{chapter.path}}#toolbar=0&navpanes=0&scrollbar=0'
                                                type="application/pdf" width="100%" height="100%">

                                                <iframe src='/{{chapter.path}}#toolbar=0&navpanes=0&scrollbar=0'
                                                    width="100%" height="100%">
                                                    <p>This browser does not support PDF!</p>
                                                </iframe>
                                            </object>
                                        </div>
                                        {{!-- <div id='viewer' class="w-100" style="height: calc(100vh - 180px);"></div>
                                        --}}
                                        <button class="btn btn-success mt-2 mr-2 float-left"
                                            onclick="(function(){ window.history.back();}())" style="width: 170px;">
                                            <span class="text" id="button-text">Go back</span>
                                        </button>
                                        {{#unless chapter.completed}}
                                        <button
                                            class="btn  {{#ifCond user.role '==' 'regulator'}}d-none{{/ifCond}} btn-success mt-2 float-left"
                                            id="completed" style="width: 170px;" {{#if
                                            chapter.completed}}disabled{{/if}}>
                                            <div class="spinner d-none" id="spinner">
                                                <i class="fa-solid fa-circle-notch fa-spin"></i>
                                            </div>
                                            <span class="text" id="button-text">Mark as completed</span>
                                        </button>
                                        {{/unless}}
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->
        {{>dashboardfooter}}
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->

    <!-- jQuery -->
    {{>dashboardfooterlinks}}
    {{!--
    <script src="/js/pdfjsExpress/webviewer.min.js"></script> --}}
    {{!--
    <script src="/js/pdfviewer.js"></script> --}}

    {{!-- if already completed then hide this script from client side --}}
    {{#unless chapter.completed}}
    <script>
        const complete = document.querySelector('#completed')
        const id = `{{{chapter._id}}}`
        complete.addEventListener('click', async (e) => {
            setLoading(true)
            const res = await fetch('/mark-completed', {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ id })
            })
            const result = await res.json()
            if (result.success) {
                setLoading(false)
                complete.disabled = true
                complete.textContent = "Completed"
                window.history.back()
            }
            if (result.error) {
                setLoading(false)
                alert(result.error)
            }
        })
        function setLoading(isLoading) {
            if (isLoading) {
                complete.disabled = true;
                complete.querySelector('.text').classList.add('d-none');
                complete.querySelector('.spinner').classList.remove('d-none')
            } else {
                complete.disabled = false;
                complete.querySelector('.text').classList.remove('d-none');
                complete.querySelector('.spinner').classList.add('d-none')
            }
        }
    </script>
    {{/unless}}
</body>

</html>