{{>dashboardheader}}

<body class="hold-transition sidebar-mini">
    <!-- toast(alert)-->
    {{>alert}}
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        {{>dashboardNavbar}}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {{>dashboardMainSidebar}}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Add Quiz or Exam</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                                <li class="breadcrumb-item active">Add Quiz/Term</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <form action="add-quiz" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">General</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    {{!-- select quiz or term --}}
                                    <div class="form-group">
                                        <label for="inputName">Quiz/Term Name</label>
                                        <input type="text" id="inputName" name="name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputStatus">Select Quiz/Term</label>
                                        <select id="inputStatus" required name="type"
                                            class="form-control custom-select">
                                            <option selected disabled value="">Select one</option>
                                            <option value="quiz">Quiz</option>
                                            <option value="mid">Mid</option>
                                            <option value="final">Final</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputStatus">Select Course</label>
                                        <select id="inputStatus" required name="course"
                                            class="form-control custom-select">
                                            <option selected disabled value="">Select one</option>
                                            {{#each courses}}
                                            <option value="{{this.name}}">{{this.name}}</option>
                                            {{/each}}
                                            {{!-- <option value="term">Term</option> --}}
                                        </select>
                                    </div>
                                    <div id="questions">
                                        <div class="question-no">
                                            <div class="form-group">
                                                <label for="question-1">
                                                    Question 1
                                                </label>
                                                <input type="text" required id="question-1" name="question-1"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <div class="quiz">
                                                    <div class="d-flex">
                                                        <div class="options">
                                                            <label for="opt1-q-1" class="col-form-label">1</label>
                                                            <input id="opt1-q-1" type="text" required class="form-control d-inline-block"
                                                                name="question-1-opt">
                                                        </div>
                                                        <div class="d-flex  align-items-center">
                                                            <input type="radio" required value="0" class="checkBox"
                                                                name="question-1-ans" id="q-1-op1">
                                                            <label for="q-1-op1" class="m-0 ml-1">Correct Answer</label>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex my-2">
                                                        <div class="options">
                                                            <label for="opt2-q-1" class="col-form-label">2</label>
                                                            <input id="opt2-q-1" type="text" required class="form-control d-inline-block"
                                                                name="question-1-opt">
                                                        </div>
                                                        <div class="d-flex  align-items-center">
                                                            <input type="radio" value="1" class="checkBox"
                                                                name="question-1-ans" id="q-1-op2">
                                                            <label for="q-1-op2" class="m-0 ml-1">Correct Answer</label>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="options">
                                                            <label for="opt3-q-1" class="col-form-label">3</label>
                                                            <input id="opt3-q-1" type="text" required class="form-control d-inline-block"
                                                                name="question-1-opt">
                                                        </div>
                                                        <div class="d-flex  align-items-center">
                                                            <input type="radio" value="2" class="checkBox"
                                                                name="question-1-ans" id="q-1-op3">
                                                            <label for="q-1-op3" class="m-0 ml-1">Correct Answer</label>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex my-2">
                                                        <div class="options">
                                                            <label for="opt4-q-1" class="col-form-label">4</label>
                                                            <input id="opt4-q-1" type="text" required class="form-control d-inline-block"
                                                                name="question-1-opt">
                                                        </div>
                                                        <div class="d-flex  align-items-center">
                                                            <input type="radio" value="3" class="checkBox"
                                                                name="question-1-ans" id="q-1-op4">
                                                            <label for="q-1-op4" class="m-0 ml-1">Correct Answer</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-footer">
                                    <button type="button" id="addNextQuiz" class="btn btn-success float-right">Add
                                        Next</button>
                                </div>
                            </div>
                            <!-- /.card -->

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                            <button type="submit" class="btn btn-success float-right">Add Quiz</button>
                        </div>
                    </div>
                </form>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        {{>dashboardfooter}}

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    {{>dashboardfooterlinks}}
    <script src="/js/quiz.js"></script>
</body>

</html>